* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  position: absolute;
  left: 0;
  right: 0;
  bottom:0;
  top: 0;

  display: flex;
  width: 100%;
  height: 100%;
}

.notebook-container {
  position: relative;
  text-align: center;
  width: 50%;
  height: 100%;
}

.notebook-container:last-child {
  border-left: 1px solid #eee;
}

.notebook {
  text-align: center;
  padding: 10px 20px;
}
